# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
ShawEngine/vendor/VulkanSDK
Shaw-Editor/assets/cache
scripts/__pycache__